#footerRow {
	text-align: center;
	color: #aaa;
}

.container-fluid#foot {
	position: fixed;
	bottom: 0; 
	right: 0;
	left: 0;
}

#foot {
	background-color: #870000;
}

#icone {
	max-width: 16px;
	max-height: 16px;
}

#logo {
	width: 800px;
	max-height: 350px;
}

#menu {
	margin-bottom: 55px;
}

#recuperar {
	text-decoration: ;
	color: #aaa;
}

#recuperar:hover {
	color: #ddd;
}

#content {
	margin-bottom: 100px;
}